---
import { actions } from "astro:actions";
import Button from "@components/generic/button.astro";

interface Props {
  recipeId: number;
}

const { recipeId } = Astro.props;

const { data } = await Astro.callAction(actions.lists.getLists, {});
---

<div class="flex p-1">
  <select
    id="lists"
    name="lists"
    class="border-none bg-transparent"
    data-recipe={recipeId}
  >
    <option selected value="null"> Add to a list</option>
    {
      data
        ? data.map((list) => <option value={list.id}>{list.title}</option>)
        : null
    }
  </select>
  <Button style="submit" id="listAdd">Add</Button>
</div>

<script>
  import { actions } from "astro:actions";

  const listSelector = document.getElementById("lists") as HTMLSelectElement;
  const listAdder = document.getElementById("listAdd") as HTMLButtonElement;

  listAdder.addEventListener("click", async () => {
    const value = listSelector.value;
    const recipeId = listSelector.dataset.recipe;
    console.log(`recipe id: ${recipeId}`);
    console.log(`list id: ${value}`);

    if (!value || value === "null") {
      console.error("Please select a list to add");
      return;
    }

    if (!recipeId) {
      console.error("couldnt get recipe id, please reload the page");
      return;
    }

    const { error } = await actions.lists.addRecipeToList({
      recipeId: parseInt(recipeId),
      listId: parseInt(value),
    });
  });
</script>
