---
import Image from "@components/assets/defaultImage.astro";
import LikeButton from "@components/likeButton";

import type { Recipe } from "@lib/types";

interface Props {
  recipe: Recipe;
}

const { recipe } = Astro.props;

let link: string;
if (recipe.title) link = "/recipes/by-title/" + recipe.title;
else link = "/recipes/by-id/" + recipe.id;
---

<div
  class="outline-highlightMed shadow-base bg-surface relative m-1 max-w-sm overflow-hidden rounded-lg shadow-2xl outline"
>
  <div class="absolute right-1 bottom-1 z-10 size-fit">
    <LikeButton liked={recipe.liked || false} recipeId={recipe.id} />
  </div>

  <a href={link}>
    <Image src={recipe.image || "/No_data.png"} />

    <div class="mx-2">
      <div class="text-text pb-1 text-xs font-bold md:text-xl">
        {recipe.title}
      </div>
      <p class="text-text py-1 text-xs">
        {recipe.description || "No recipe Description yet"}
      </p>
    </div>

    <div
      class="bg-highlightHigh text-text mx-1 rounded-md px-1 py-1 text-xs font-semibold text-nowrap"
    >
      <p>Prep time: {recipe.prepTime || "Not set yet"}</p>

      <p>Cook time: {recipe.cookTime || "Not set yet"}</p>
    </div>

    <div
      class="bg-highlightHigh text-text m-1 rounded-md px-1 py-1 text-xs font-semibold"
    >
      <p>Created: {recipe.created}</p>
      <p>Edited: {recipe.edited}</p>
    </div>
  </a>
</div>
