---
import Image from "@components/assets/defaultImage.astro";
import LikeButton from "@components/likeButton.astro";

interface Props {
  recipe: {
    id: number;

    created: Date;
    edited: Date;

    prepTime?: string | null;
    cookTime?: string | null;

    title: string | null;
    author: string | null;
    description?: string | null;

    image: string | null;
    imageAlt: string | null;

    liked: boolean | null;
  };
}

const { recipe } = Astro.props;

let link: string;
if (recipe.title && recipe.title != "")
  link = "/recipes/by-title/" + recipe.title;
else link = "/recipes/by-id/" + recipe.id;
---

<a href={link}>
  <div
    class="relative max-w-sm m-1 overflow-hidden rounded-lg shadow-2xl outline outline-rosePine-highlightMed shadow-rosePine-base bg-rosePine-surface"
  >
    <div class="absolute bottom-2 z-10 right-2 size-fit">
      <LikeButton liked={recipe.liked || false} recipeId={recipe.id} />
    </div>

    <Image src={recipe.image || "/No_data.png"} />

    <div class="mx-2">
      <div class="pb-1 text-xs font-bold md:text-xl text-rosePine-text">
        {recipe.title}
      </div>
      <p class="py-1 text-xs text-rosePine-text">
        {recipe.description || "No recipe Description yet"}
      </p>
    </div>

    <div
      class="px-1 py-1 mx-1 text-xs font-semibold rounded-md bg-rosePine-highlightHigh text-rosePine-text text-nowrap"
    >
      <p>Time to Prep: {recipe.prepTime || "Not set yet"}</p>

      <p>Time to Cook: {recipe.cookTime || "Not set yet"}</p>
    </div>

    <div
      class="px-1 py-1 m-1 text-xs font-semibold rounded-md bg-rosePine-highlightHigh text-rosePine-text"
    >
      <p>Created: {recipe.created?.toLocaleDateString()}</p>
      <p>Edited: {recipe.edited?.toLocaleDateString()}</p>
    </div>
  </div>
</a>
