---
import Image from "@components/assets/defaultImage.astro";
import LikeButton from "@components/likeButton.astro";

import type { selectRecipe } from "@db/schema";

interface Props {
  recipe: selectRecipe;
}

const { recipe } = Astro.props;

let link: string;
if (recipe.title) link = "/recipes/by-title/" + recipe.title;
else link = "/recipes/by-id/" + recipe.id;
---

<div
  class="relative max-w-sm m-1 overflow-hidden rounded-lg shadow-2xl outline outline-highlightMed shadow-base bg-surface"
>
  <div class="absolute bottom-1 z-10 right-1 size-fit">
    <LikeButton liked={recipe.liked || false} recipeId={recipe.id} />
  </div>

  <a href={link}>
    <Image src={recipe.image || "/No_data.png"} />

    <div class="mx-2">
      <div class="pb-1 text-xs font-bold md:text-xl text-text">
        {recipe.title}
      </div>
      <p class="py-1 text-xs text-text">
        {recipe.description || "No recipe Description yet"}
      </p>
    </div>

    <div
      class="px-1 py-1 mx-1 text-xs font-semibold rounded-md bg-highlightHigh text-text text-nowrap"
    >
      <p>Prep time: {recipe.prepTime || "Not set yet"}</p>

      <p>Cook time: {recipe.cookTime || "Not set yet"}</p>
    </div>

    <div
      class="px-1 py-1 m-1 text-xs font-semibold rounded-md bg-highlightHigh text-text"
    >
      <p>Created: {recipe.created?.toLocaleDateString()}</p>
      <p>Edited: {recipe.edited?.toLocaleDateString()}</p>
    </div>
  </a>
</div>
