---
import { actions } from "astro:actions";

import EditorLayout from "@layouts/editorLayout.astro";
import Ingredients from "@components/ingredients/ingredientHolder.astro";
import MarkdownEditor from "@components/mde.astro";
import Titlebar from "@components/titlebar.astro";

const { id } = Astro.params;

if (typeof id === "undefined")
  return Astro.redirect("/404?message=Recipe came back undefined");

const { data, error } = await Astro.callAction(actions.recipe.getRecipe, {
  method: "id",
  identifier: id,
});

if (error?.code) return Astro.redirect("/404?message=" + error?.message);
else if (error) return;

if (!data) return Astro.redirect("/404?message=Recipe came back undefined");
---

<EditorLayout title={data.title}>
  <Titlebar slot="titlebar">
    <div class="flex">
      <input
        form="editor"
        type="text"
        name="title"
        value={data.title}
        class="bg-rosePine-overlay rounded-md"
      />
      <input
        form="editor"
        type="text"
        name="id"
        value={data.id}
        readonly
        class="hidden"
      />
    </div>

    <button form="editor" type="submit">Save</button>
  </Titlebar>

  <Ingredients recipeId={data.id} editing={true} />

  <form id="editor">
    <MarkdownEditor body={data.body || ""} />
  </form>
</EditorLayout>

<script>
  import { actions } from "astro:actions";

  import Toastify from "toastify-js";
  import "toastify-js/src/toastify.css";

  const editor = document.getElementById("editor") as HTMLFormElement;
  editor?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(editor);
    const { error, data } = await actions.recipe.updateRecipe(formData);
    if (error)
      Toastify({
        text: error.code + ": " + error.message,
        duration: 1500,
      }).showToast();
    else {
      console.log(data[0].body);
      Toastify({
        text: "Saved recipe:\n" + data[0].id,
        duration: 1500,
      }).showToast();
    }
  });
</script>
