---
import type {selectIngredient} from "@db/schema"
import type { HTMLAttributes } from "astro/types";

import Ingredient from "./ingredient.astro";
import IngredientAdder from "./ingredientAdder.astro";

interface Props extends HTMLAttributes<'table'>{
  recipeId: number;
  editing: boolean;
  ingredients: selectIngredient[];
}

const { recipeId, editing, ingredients, ...attrs } = Astro.props;
---
{/* TODO: unit selector */}

<table
  {...attrs}
  class=" bg-overlay m-1 p-4 border-highlightHigh text-sm md:text-xl lg:text-2xl 2xl:text-3xl mx-auto text-text rounded-lg"
>
  <thead class="flex w-full items-center">
    <tr class="flex w-full justify-between mx-1">
      {
        editing ? (
          <th >Amount</th>
          <th >Unit</th>
          <th >Name</th>
          <th>Actions</th>
        ) : <th class="mx-auto underline">Ingredients</th>
      }
    </tr>
  </thead>
  <tbody class="flex flex-col items-center justify-between max-h-screen scroll-auto">
  {
    ingredients?.map((ingredient) => (
      <Ingredient
        editing={editing}
        id={ingredient.id.toString()}
        name={ingredient.name}
        unit={ingredient.unit}
        whole={ingredient.whole}
        fraction={ingredient.fraction}
      /> 
    ))
  }
  
  </tbody> 
  <tfoot class="flex flex-col items-center justify-between">
    { editing ? <IngredientAdder recipeId={recipeId} /> : null}
  </tfoot>
</table>
