---
import Layout from "@layouts/layout.astro";
import Card from "@components/generic/card.astro";

import { actions } from "astro:actions";
import DefaultImage from "@components/assets/defaultImage.astro";

const { data } = await Astro.callAction(actions.lists.getLists, null);
if (!data) return Astro.redirect("/500");
---

<Layout title={"Browse Recipes"}>
  <div class="xl:flex">
    <div class="mx-auto grid grid-cols-2 gap-2 xl:grid-cols-4">
      {
        data.map((r) => (
          <div class="mx-auto flex w-full px-4">
            <Card vertical href={`/lists/by-id/${r.id}`}>
              <DefaultImage src={r.image} alt={r.imageAlt} />
              <span>{r.title}</span>
              {r.description}
            </Card>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
