---
import { actions } from 'astro:actions';

import Button from "@components/generic/button.astro";
import ImageUploader from "./assets/imageUploader.astro";
import Flyout from "./generic/flyout.astro";
import Modal from "./generic/modal.astro";
import Menu from "src/icons/menu.svg"
import Input from './generic/input.astro';

import HeaderLinks from "./headerLinks";

const regex = /^\/recipes\//;

interface Props {
  pages: {
    name: string;
    path: string;
  }[];
  editing?: boolean;
  recipeId?: number;
}
const { pages, recipeId, editing } = Astro.props;

const result = Astro.getActionResult(actions.create);
if (result && !result.error) {
  return Astro.redirect(`/${result.data.type}s/by-id/${result.data.res.id}`);
}
---

<site-nav
  data-recipe={recipeId}
  data-editing={editing}
  class="sticky top-0 z-20 flex justify-between w-full p-1 font-extrabold rounded-md shadow-lg md:text-3xl bg-surface border-highlightHigh text-text"
>
  <HeaderLinks pages={pages} editing={editing || false} client:only transition:persist />

  <div class="flex w-fit md:gap-2">
    <Flyout>
      <Button slot="button" size='medium' rounded><Menu/></Button>  
      <Modal>
        <Button rounded extraClasses="w-full" id="creatBtn" slot="button">Upload</Button>
        <div class="flex m-auto relative">
          <ImageUploader />
          <button id="closeBtn" class="absolute top-0 right-2 font-thin">x</button>
        </div>
      </Modal>
      {
        editing ?    
          <Button rounded extraClasses="w-full" id="deletebtn">
            Delete
          </Button>
          <Button rounded extraClasses="w-full" destination={`/recipes/by-id/${recipeId}`} id="saveBtn">
            Save & View
          </Button>
        :
          <Modal>
            <Button rounded extraClasses="w-full" id="creatBtn" slot="button">Create</Button>
            <div class="flex m-auto bg-overlay p-3 rounded-lg w-full max-w-md h-fit relative">
              <button id="closeBtn" class="absolute top-0 right-2 font-thin">x</button>
              <form id="createForm" class="mx-auto">
                <span>Create a Recipe</span>
                <div>
                  <Input label="Title" name='title'/>
                  <Input label="Description" name='description'/>
                  <Button style='submit' extraClasses='w-full' type='submit'>create</Button>
                </div>
              </form>
            </div>
          </Modal>
      }
      {
        regex.test(Astro.url.pathname) && !editing ? <Button rounded extraClasses="w-full" destination={`/recipes/edit?id=${recipeId}`}>Edit</Button>: null
      }
    </Flyout>
  </div>
</site-nav>

<script>
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";

  const createForm = document.getElementById("createForm") as HTMLFormElement;
  createForm?.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(createForm)
    const {error, data} = await actions.create(formData);
    
    if (error) console.error(error.message)
    if (data)
      navigate(`/recipes/by-id/${data}`);
  })
</script>

<script>
  import { actions } from "astro:actions";

  class SiteNav extends HTMLElement {
    connectedCallback() {
      const recipeId = parseInt(this.dataset.recipe!);

      const deletebtn = document.getElementById("deletebtn")
      deletebtn?.addEventListener("click",() => {
        actions.Recipe.delete(recipeId)
      })
    }
  }
  customElements.define("site-nav", SiteNav);
</script>
