---
import CardImage from "./CardImage.astro";

interface Props {
  id?: number;

  created?: Date;
  edited?: Date;

  prepTime?: number;
  cookTime?: number;

  title?: string;
  author?: string;
  description?: string;

  image?: string;
  imageAlt?: string;
}

const props = Astro.props;

let link;
if (props.title && props.title != "") link = "/recipes/by-title/" + props.title;
else link = "/recipes/by-id/" + props.id;
---

<a href={link}>
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <CardImage src={props.image} />

    <div class="mx-2">
      <div class="font-bold text-xl mb-2">{props.title}</div>
      <p class="text-base">
        {props.description || "No recipe Description yet"}
      </p>
    </div>

    <div
      class="bg-gray-200 rounded-md flex flex-col px-3 py-1 text-xs text-nowrap font-semibold text-gray-700 m-2"
    >
      <span>
        Time to Prep: {props.prepTime || "Not set yet"}
      </span>
      <span>
        Time to Cook: {props.cookTime || "Not set yet"}
      </span>
    </div>

    <div
      class="bg-gray-200 rounded-md flex flex-col px-3 py-1 text-xs text-nowrap font-semibold text-gray-700 m-2"
    >
      <span>
        Created: {props.created?.toDateString()} at {
          props.created?.toLocaleTimeString()
        }
      </span>
      <span>
        Edited: {props.edited?.toDateString()} at {
          props.edited?.toLocaleTimeString()
        }
      </span>
    </div>
  </div>
</a>
