---
import { actions } from "astro:actions";

import IngredientHolder from "@components/ingredients/ingredients";
import Layout from "@layouts/layout.astro";
import Markdown from "@components/markdown";
import RecipeInfo from "@components/recipe/RecipeInfo";

const { identifier } = Astro.params;

if (!identifier) return Astro.redirect("/");

const { data, error } = await Astro.callAction(actions.Recipe.getRecipe, {
  identifier,
});

if (error?.code) return Astro.redirect("/404?message=" + error?.message);
else if (error) return Astro.redirect("/404?message=An Unkown Error Occured");

if (!data) return Astro.redirect("/404?message=Recipe came back undefined");

const views = data.totalViews || 0;

Astro.callAction(actions.Recipe.updateRecipe, {
  id: data.id,
  totalViews: views + 1,
});
---

<Layout title={data.title || ""} recipeId={data.id}>
  <div class="bg-surface mx-auto w-full max-w-screen-2xl overflow-scroll">
    <div
      class="text-text pb-3 text-center text-xl font-bold md:text-4xl lg:text-5xl"
    >
      {data.title}
    </div>
    {/** @ts-ignore */}
    <RecipeInfo recipe={data} editing={false} client:load />

    <div class="mx-auto">
      <IngredientHolder recipeId={data.id} editing={false} client:only />
    </div>

    <Markdown body={data.body || ""} editing={false} recipeId={data.id} />
  </div>
</Layout>
