---
import { actions } from "astro:actions";

import DefaultImage from "@components/assets/defaultImage.astro";
import IngredientHolder from "@components/ingredients/ingredients.astro";
import Layout from "@layouts/layout.astro";
import Markdown from "@components/markdown.astro";

const { method, identifier } = Astro.params;

const { data, error } = await Astro.callAction(actions.recipe.getRecipe, {
  method,
  identifier,
});

if (error?.code) return Astro.redirect("/404?message=" + error?.message);
else if (error) return Astro.redirect("/404?message=An Unkown Error Occured");

if (!data) return Astro.redirect("/404?message=Recipe came back undefined");
---

<Layout title={data.title} recipeId={data.id}>
  <div
    class="flex flex-col gap-2 p-2 mx-auto rounded-lg bg-rosePine-surface w-full"
  >
    <div class="pb-3 text-center font-bold text-xl md:text-4xl lg:text-5xl">
      {data.title}
    </div>
    <div class="w-5/6 2xl:w-3/5 mx-auto">
      <DefaultImage src={data.image} alt={data.imageAlt} />
    </div>

    <div class="mx-auto">
      <IngredientHolder recipeId={data.id} editing={false} />
    </div>

    <Markdown body={data.body} />
  </div>
</Layout>
